/* Coolors Exported Palette - https://coolors.co/94a048-c4c9d2-3d5419-546e97-141521 */

/* CSS HEX */

$moss-green: #94a048ff;
$silver-sand: #c4c9d2ff;
$dark-moss-green: #3d5419ff;
$blue-yonder: #546e97ff;
$xiketic: #141521ff;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #94a048ff, #c4c9d2ff, #3d5419ff, #546e97ff, #141521ff);
$gradient-right: linear-gradient(90deg, #94a048ff, #c4c9d2ff, #3d5419ff, #546e97ff, #141521ff);
$gradient-bottom: linear-gradient(180deg, #94a048ff, #c4c9d2ff, #3d5419ff, #546e97ff, #141521ff);
$gradient-left: linear-gradient(270deg, #94a048ff, #c4c9d2ff, #3d5419ff, #546e97ff, #141521ff);
$gradient-top-right: linear-gradient(45deg, #94a048ff, #c4c9d2ff, #3d5419ff, #546e97ff, #141521ff);
$gradient-bottom-right: linear-gradient(135deg, #94a048ff, #c4c9d2ff, #3d5419ff, #546e97ff, #141521ff);
$gradient-top-left: linear-gradient(225deg, #94a048ff, #c4c9d2ff, #3d5419ff, #546e97ff, #141521ff);
$gradient-bottom-left: linear-gradient(315deg, #94a048ff, #c4c9d2ff, #3d5419ff, #546e97ff, #141521ff);
$gradient-radial: radial-gradient(#94a048ff, #c4c9d2ff, #3d5419ff, #546e97ff, #141521ff);